.btn{
	.font-header;
	margin: 0;
	padding: 0 70px 0 22px;
	border :0;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #000;
	outline: none;
	background: #fca524 url(../images/btn/01.png) no-repeat right 0;
	&:hover{
		background-position: right -38px;
	}
}
.btn-large{
	.btn;
	font-size: 21px;
	height: 54px;
	line-height: 54px;
	background-position: right -152px;
	&:hover{
		background-position: right -206px;
	}
}
.btn-black{
	.btn;
	color: #fff;
	background-position: right -76px;
	&:hover{
		background-position: right -114px;
	}
}