@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('../fontello/css/silis-icons.css');
.font-primary{
	font-family:Arial,Helvetica,sans-serif;
}
.font-header{
	font-family:'Source Sans Pro',sans-serif;
}
.font-icon{
	font-family:'silis-icons';
}
