#page{
	.clearfix;
	width: 1180px;
	margin: 0 auto 40px;
	text-align: left;
}
#page-header{
	.clearfix;
	margin: 0 0 19px;
	#logo{
		width: 220px;
		float: left;
		a{
			display: block;
			position: relative;
			text-indent: -9999px;
			min-height: 215px;
			background: #fff url(../images/logo/01.png) no-repeat center 69px;
			.box-shadow(0 0 6px rgba(0,0,0,0.4));
		}
	}
	.header-center{
		position: relative;
		width: 700px;
		float: left;
		margin: 0 20px;
		.box-shadow(0 0 6px rgba(0,0,0,0.4));
		img{
			display: block;
		}
		.content{
			.font-header;
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: 500px;
			color: #fff;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
			font-weight: bold;
			text-transform: uppercase;
			font-style: italic;
			font-size: 15px;
			line-height: 1.2;
			letter-spacing: -0.02em;
			h2{
				.font-header;
				font-weight: bold;
				text-transform: none;
				font-style: normal;
				font-size: 22px;
				line-height: 1.2;
				margin: 0;
				letter-spacing: 0;
			}
			p{
				margin: 0;
			}
		}
	}
	.header-right{
		float: right;
		width: 220px;
	}
}
#col-main{
	width: 940px;
	float: right;
}
#col-center{
	width: 700px;
	float: left;
}
#col-right{
	width: 220px;
	float: right;
	margin: 0 0 -20px;
}
#col-left{
	width: 220px;
	float: left;
}
#col-bottom{
	.box-shadow(0 0 6px rgba(0,0,0,0.4));
	margin: 0 0 9px;
	background: #fff;
	.inner{
		width: 1180px;
		margin: auto;
		text-align: left;
	}
}
#page-footer{
	padding: 0 0 30px;
	background: #c6ced1;
	.inner{
		.clearfix;
		position: relative;
		width: 1180px;
		margin: auto;
		text-align: left;
		.xart{
			position: absolute;
			right: 0;
			top: 0;
			text-align: center;
			font-size: 10px;
			line-height: 2;
			white-space: nowrap;
			a{
				color: @color-primary;
				text-decoration: none;
			}
			img{
				display: block;
			}
		}
	}
}
#content{
	background: #fff;
	margin: 0 0 20px;
	padding: 30px;
	.box-shadow(0 0 6px rgba(0,0,0,0.4));
	h1{
		background: @color-link;
		color: #fff;
		margin: -30px -30px 20px;
		padding: 0 30px;
	}
}