
.icon-doc-inv:before { content: '\e800'; } /* '' */
.icon-doc-text-inv:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-sitemap:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-basket-circled:before { content: '\e808'; } /* '' */